  <%= cl_image_tag @cocktail.photo.url(:size_show) %>
  <h2><%= @cocktail.name %></h2>

<%= link_to "add a new dose/ingredient to your cocktail", new_cocktail_dose_path(@cocktail) %>
<h3>ingredients: </h3>
  <ul>
    <% @cocktail.doses.each do |dose|%>
      <li><%= dose.ingredient.name %> | <%= dose.description %></li>
      <%= link_to "Delete this dose", cocktail_dose_path(dose), method: :delete %>
    <% end %>
  </ul>

<%= link_to "Back to all Cocktails", cocktails_path %>
